source/Capi.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://gkmsoft.ru/beautifulcapi" xmlns="http://gkmsoft.ru/beautifulcapi">
  <xs:element name="api" type="TBeautifulCapiRoot"/>
  <xs:complexType name="TBeautifulCapiRoot">
    <xs:sequence>
      <xs:element name="namespace" minOccurs="1" maxOccurs="unbounded" type="TNamespace"/>
    </xs:sequence>
    <xs:attribute name="project_name" type="xs:string" use="optional"/>
    <xs:attribute name="major_version" type="xs:integer" use="optional" default="1"/>
    <xs:attribute name="minor_version" type="xs:integer" use="optional" default="0"/>
    <xs:attribute name="patch_version" type="xs:integer" use="optional" default="0"/>
  </xs:complexType>
  <xs:complexType name="TExternalLibrary">
    <xs:attribute name="input_xml_file" type="xs:string" use="required"/>
    <xs:attribute name="params_xml_file" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="TApiInclude">
    <xs:attribute name="path" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="TExternalNamespace">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="class" minOccurs="0" maxOccurs="unbounded" type="TExternalClass"/>
        <xs:element name="namespace" minOccurs="0" maxOccurs="unbounded" type="TExternalNamespace"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="include" type="xs:string" use="optional"/>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="detach_method_name" type="xs:string" use="optional" default="Detach"/>
    <xs:attribute name="get_raw_pointer_method_name" type="xs:string" use="optional" default="GetRawPointer"/>
  </xs:complexType>
  <xs:complexType name="TExternalClass">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="wrap_name" type="xs:string" use="required"/>
    <xs:attribute name="include_declaration" type="xs:string" use="optional"/>
    <xs:attribute name="include_definition" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TNamespace">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TDocumentation"/>
        <xs:element name="external_namespace" minOccurs="0" maxOccurs="unbounded" type="TExternalNamespace"/>
        <xs:element name="external_library" minOccurs="0" maxOccurs="unbounded" type="TExternalLibrary"/>
        <xs:element name="include" type="TApiInclude"/>
        <xs:element name="namespace" type="TNamespace"/>
        <xs:element name="include_header" type="THeaderInclude"/>
        <xs:element name="enumeration" type="TEnumeration"/>
        <xs:element name="class" type="TClass"/>
        <xs:element name="function" type="TFunction"/>
        <xs:element name="template" type="TTemplate"/>
        <xs:element name="property_set_prefix" type="TPropertySetPrefix"/>
        <xs:element name="property_get_prefix" type="TPropertyGetPrefix"/>
        <xs:element name="property_get_const" type="TPropertyGetConst"/>
        <xs:element name="mapped_type" type="TMappedType"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="implementation_header" type="xs:string" use="optional" default=""/>
    <xs:attribute name="overload_suffix_mode" type="TOverloadSuffixMode" use="optional" default="Notify"/>
  </xs:complexType>
  <xs:complexType name="TEnumerationItem">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TGenericDocumentation"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TEnumeration">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TDocumentation"/>
      <xs:element name="item" minOccurs="1" maxOccurs="unbounded" type="TEnumerationItem"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="underlying_type" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="TTemplate">
    <xs:sequence>
      <xs:element name="argument" minOccurs="0" maxOccurs="unbounded" type="TArgument"/>
      <xs:element name="instantiation" minOccurs="1" maxOccurs="unbounded" type="TInstantiation"/>
      <xs:element name="class" minOccurs="1" maxOccurs="1" type="TClass"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TInstantiation">
    <xs:sequence>
      <xs:element name="argument"  minOccurs="1" maxOccurs="unbounded" type="TInstantiationArgument"/>
    </xs:sequence>
    <xs:attribute name="typedef_name" type="xs:string" use="optional" default=""/>
  </xs:complexType>
  <xs:complexType name="TInstantiationArgument">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="value" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="TClass">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TDocumentation"/>
        <xs:element name="include_header" minOccurs="0" maxOccurs="unbounded" type="THeaderInclude"/>
        <xs:element name="enumeration" minOccurs="0" maxOccurs="unbounded" type="TEnumeration"/>
        <xs:element name="constructor" minOccurs="0" maxOccurs="unbounded" type="TConstructor"/>
        <xs:element name="property" minOccurs="0" maxOccurs="unbounded" type="TProperty"/>
        <xs:element name="method" minOccurs="0" maxOccurs="unbounded" type="TMethod"/>
        <xs:element name="callback" minOccurs="0" maxOccurs="1" type="TCallback"/>
        <xs:element name="mapped_type" minOccurs="0" maxOccurs="unbounded" type="TMappedType"/>
        <xs:element name="lifecycle_extension" minOccurs="0" maxOccurs="unbounded" type="TLifecycleExtension"/>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="base" type="xs:string" use="optional" default=""/>
    <xs:attribute name="implementation_class_name" type="xs:string" use="required"/>
    <xs:attribute name="abstract" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="implementation_class_header" type="xs:string" use="required"/>
    <xs:attribute name="lifecycle" type="TLifecycle" use="optional" default="reference_counted"/>
    <xs:attribute name="requires_cast_to_base" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="pointer_access" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="exception" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="template_line" type="xs:string" use="optional" default=""/>
    <xs:attribute name="typedef_name" type="xs:string" use="optional" default=""/>
    <xs:attribute name="copy_or_add_ref_noexcept" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="delete_or_release_noexcept" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="overload_suffix_mode" type="TOverloadSuffixMode" use="optional" default="Notify"/>
    <xs:attribute name="wrap_name" type="xs:string" use="optional" default="{class_name}{wrap_suffix}"/>
    <xs:attribute name="generate_copy_constructor" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>
  <xs:complexType name="TCallback">
    <xs:attribute name="lifecycle" type="TLifecycle" use="optional" default="reference_counted"/>
    <xs:attribute name="copy_or_add_ref_noexcept" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="delete_or_release_noexcept" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="implementation_class_name" type="xs:string" use="required"/>
    <xs:attribute name="implementation_class_header" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:complexType name="TConstructorBase">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TDocumentation"/>
      <xs:element name="argument" minOccurs="0" maxOccurs="unbounded" type="TArgument"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="return_copy_or_add_ref" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="noexcept" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  <xs:complexType name="TConstructor">
     <xs:complexContent>
       <xs:extension base="TConstructorBase">
         <xs:attribute name="explicit" type="xs:boolean" use="optional" default="false"/>
       </xs:extension>
     </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TMethodBase">
    <xs:complexContent>
      <xs:extension base="TConstructorBase">
        <xs:attribute name="return" type="xs:string" use="optional" default=""/>
        <xs:attribute name="return_is_builtin" type="xs:boolean" use="optional" default="false"/>
        <xs:attribute name="overload_suffix" type="xs:string" use="optional" default=""/>
        <xs:attribute name="impl_2_c" type="xs:string" use="optional" default="new {implementation_type}({expression})"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TMethod">
    <xs:complexContent>
      <xs:extension base="TMethodBase">
        <xs:attribute name="const" type="xs:boolean" use="optional" default="false"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TFunction">
    <xs:complexContent>
      <xs:extension base="TMethodBase">
        <xs:attribute name="implementation_name" type="xs:string" use="optional" default=""/>
        <xs:attribute name="implementation_header" type="xs:string" use="optional" default=""/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TArgument">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TGenericDocumentation"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="is_builtin" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="c_2_impl" type="xs:string" use="optional" default="static_cast&lt;{implementation_type}*&gt;({expression})"/>
    <xs:attribute name="c_2_impl_mode" type="TC2ImplMode" use="optional" default="default"/>
  </xs:complexType>
  <xs:simpleType name="TLifecycle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="copy_semantic"/>
      <xs:enumeration value="raw_pointer_semantic"/>
      <xs:enumeration value="reference_counted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TLifecycleExtension">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="cast_to" minOccurs="0" maxOccurs="unbounded" type="TCastTo" />
        <xs:element name="cast_from" minOccurs="0" maxOccurs="unbounded" type="TCastFrom" />
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required" default=""/>
    <xs:attribute name="wrap_name" type="xs:string" use="required" default=""/>
    <xs:attribute name="lifecycle" type="TLifecycle" use="required" default="copy_semantic"/>
  </xs:complexType>
  <xs:complexType name="TCastTo" >
    <xs:attribute name="implicit" type="xs:boolean" default="true" use="optional"/>
    <xs:attribute name="target_type" type="xs:string" use="required"/>
    <xs:attribute name="cast_method" type="xs:string" default="To{target_type}" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TCastFrom" >
    <xs:attribute name="source_type" type="xs:string" use="required"/>
  </xs:complexType>
  <xs:simpleType name="TC2ImplMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="default"/>
      <xs:enumeration value="to_pointer"/>
      <xs:enumeration value="to_value"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="THeaderInclude">
    <xs:attribute name="file" type="xs:string" use="required"/>
    <xs:attribute name="system" type="xs:boolean" use="optional" default="false"/>
  </xs:complexType>
  <xs:complexType name="TProperty">
    <xs:sequence>
      <xs:element name="documentation" minOccurs="0" maxOccurs="1" type="TDocumentation"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="type" type="xs:string" use="required"/>
    <xs:attribute name="set_prefix" type="xs:string" use="optional" default="Set"/>
    <xs:attribute name="get_prefix" type="xs:string" use="optional" default="Get"/>
    <xs:attribute name="get_const" type="xs:boolean" use="optional" default="true"/>
    <xs:attribute name="set_argument_name" type="xs:string" use="optional" default=""/>
    <xs:attribute name="is_builtin" type="xs:boolean" use="optional" default="false"/>
    <xs:attribute name="set_c_2_impl" type="xs:string" use="optional" default="static_cast&lt;{implementation_type}&gt;({expression})"/>
    <xs:attribute name="set_c_2_impl_mode" type="TC2ImplMode" use="optional" default="default"/>
    <xs:attribute name="get_impl_2_c" type="xs:string" use="optional" default="new {implementation_type}({expression})"/>
    <xs:attribute name="set_argument_type" type="xs:string" use="optional" default=""/>
    <xs:attribute name="return_type" type="xs:string" use="optional" default=""/>
  </xs:complexType>
  <xs:complexType name="TPropertySetPrefix">
    <xs:attribute name="value" type="xs:string" use="optional" default="Set"/>
  </xs:complexType>
  <xs:complexType name="TPropertyGetPrefix">
    <xs:attribute name="value" type="xs:string" use="optional" default="Get"/>
  </xs:complexType>
  <xs:complexType name="TPropertyGetConst">
    <xs:attribute name="value" type="xs:boolean" use="optional" default="true"/>
  </xs:complexType>
  <xs:complexType name="TReference" mixed="true"/>
  <xs:complexType name="TGenericDocumentation" mixed="true">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element name="reference" type="TReference"/>
        <xs:element name="see_also" type="TGenericDocumentation"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TDocumentation">
    <xs:complexContent>
      <xs:extension base="TGenericDocumentation">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="brief" type="TGenericDocumentation"/>
            <xs:element name="returns" type="TGenericDocumentation"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="TOverloadSuffixMode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off"/>
      <xs:enumeration value="Notify"/>
      <xs:enumeration value="Silent"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TMappedType">
    <xs:sequence>
      <xs:element name="include_header" minOccurs="0" maxOccurs="unbounded" type="THeaderInclude"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="wrap_type" type="xs:string" use="required"/>
    <xs:attribute name="argument_wrap_type" type="xs:string" use="optional"/>
    <xs:attribute name="c_type" type="xs:string" use="required"/>
    <xs:attribute name="implementation_type" type="xs:string" use="required"/>
    <xs:attribute name="wrap_2_c" type="xs:string" use="optional" default="static_cast&lt;{c_type}&gt;({expression})"/>
    <xs:attribute name="c_2_impl" type="xs:string" use="optional" default="static_cast&lt;{implementation_type}&gt;({expression})"/>
    <xs:attribute name="impl_2_c" type="xs:string" use="optional" default="static_cast&lt;{c_type}&gt;({expression})"/>
    <xs:attribute name="c_2_wrap" type="xs:string" use="optional" default="static_cast&lt;{wrap_type}&gt;({expression})"/>
  </xs:complexType>
</xs:schema>
