source/Capi.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://gkmsoft.ru/beautifulcapi" targetNamespace="http://gkmsoft.ru/beautifulcapi">
  <xs:element name="api" type="TBeautifulCapiRoot">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="TBeautifulCapiRoot">
    <xs:annotation>
      <xs:documentation>The purpose of *TBeautifulCapiRoot* node is to specify the project name, major, minor and patch versions. Also it specifies a several root namespaces.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="namespace" type="TNamespace">
        <xs:annotation>
          <xs:documentation>Specifies the root namespace</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="project_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the project name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="1" name="major_version" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the project major version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="0" name="minor_version" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the project minor version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="0" name="patch_version" type="xs:integer" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the project minor version</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TNamespace">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TDocumentation">
          <xs:annotation>
            <xs:documentation>Specifies the namespace doxygen documentation</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="external_namespace" type="TExternalNamespace">
          <xs:annotation>
            <xs:documentation>Specifies an external namespace</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="external_library" type="TExternalLibrary">
          <xs:annotation>
            <xs:documentation>Specifies an external library</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="include" type="TApiInclude">
          <xs:annotation>
            <xs:documentation>Included another XML API description file</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="namespace" type="TNamespace">
          <xs:annotation>
            <xs:documentation>Specifies the nested namespace</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="include_header" type="THeaderInclude">
          <xs:annotation>
            <xs:documentation>Specifies a header to include from wrapper side</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="enumeration" type="TEnumeration">
          <xs:annotation>
            <xs:documentation>Specifies an enumeration type</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="class" type="TClass">
          <xs:annotation>
            <xs:documentation>Specifies a class</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="function" type="TFunction">
          <xs:annotation>
            <xs:documentation>Specifies a stand-alone function</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="template" type="TTemplate">
          <xs:annotation>
            <xs:documentation>Specifies a new template</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="property_set_prefix" type="TPropertySetPrefix">
          <xs:annotation>
            <xs:documentation>Specifies default value for property set prefix</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="property_get_prefix" type="TPropertyGetPrefix">
          <xs:annotation>
            <xs:documentation>Specifies default value for property get prefix</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="property_get_const" type="TPropertyGetConst">
          <xs:annotation>
            <xs:documentation>Specifies default value for property get cont</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="mapped_type" type="TMappedType">
          <xs:annotation>
            <xs:documentation>Specifies a new mapped type</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the namespace name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="implementation_header" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies an implementation header file</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="Notify" name="overload_suffix_mode" type="TOverloadSuffixMode" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies overload suffix mode</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TDocumentation">
    <xs:annotation>
      <xs:documentation>The purpose of *TDocumentation* node is to specify</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TGenericDocumentation">
        <xs:sequence>
          <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="brief" type="TGenericDocumentation">
              <xs:annotation>
                <xs:documentation>&amp;quot;Work in Progress&amp;quot;</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="returns" type="TGenericDocumentation">
              <xs:annotation>
                <xs:documentation>&amp;quot;Work in Progress&amp;quot;</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType mixed="true" name="TReference">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
  </xs:complexType>
  <xs:complexType mixed="true" name="TGenericDocumentation">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element name="reference" type="TReference">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in Progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="see_also" type="TGenericDocumentation">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in Progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TExternalNamespace">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="unbounded" minOccurs="0" name="class" type="TExternalClass">
          <xs:annotation>
            <xs:documentation>Specifies a external class</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="namespace" type="TExternalNamespace">
          <xs:annotation>
            <xs:documentation>Specifies a external namespace</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="include" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Path to the include file. Can be absolute or relative to .xml file</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the namespace name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="Detach" name="detach_method_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the name of detach method</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="GetRawPointer" name="get_raw_pointer_method_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>Specifies the name of GetRawPointer method</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TExternalClass">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the class name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wrap_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Specifies the wrapped class name</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="include_declaration" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>“Work in Progress”</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="include_definition" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>“Work in Progress”</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TExternalLibrary">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="input_xml_file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Path to another B-Capi XML API description file. Can be absolute or relative to .xml file</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="params_xml_file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>Path to another B-Capi params XML file. Can be absolute or relative to .xml file</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TApiInclude">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="path" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TEnumerationItem">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TGenericDocumentation">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TEnumeration">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TDocumentation">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="item" type="TEnumerationItem">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="underlying_type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TTemplate">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="argument" type="TArgument">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="instantiation" type="TInstantiation">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="1" minOccurs="1" name="class" type="TClass">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TInstantiation">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="1" name="argument" type="TInstantiationArgument">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute default="" name="typedef_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TInstantiationArgument">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="value" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TClass">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TDocumentation">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="include_header" type="THeaderInclude">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="enumeration" type="TEnumeration">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="constructor" type="TConstructor">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="TProperty">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="method" type="TMethod">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="1" minOccurs="0" name="callback" type="TCallback">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="mapped_type" type="TMappedType">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="lifecycle_extension" type="TLifecycleExtension">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="base" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="implementation_class_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="snippet_type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="abstract" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="implementation_class_header" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="reference_counted" name="lifecycle" type="TLifecycle" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="true" name="requires_cast_to_base" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="pointer_access" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="exception" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="template_line" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="typedef_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="copy_or_add_ref_noexcept" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="true" name="delete_or_release_noexcept" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="Notify" name="overload_suffix_mode" type="TOverloadSuffixMode" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="{class_name}{wrap_suffix}" name="wrap_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="true" name="generate_copy_constructor" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="impl_2_c" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="c_2_impl" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="custom_cast_to_base" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="custom_down_cast" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TCallback">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute default="reference_counted" name="lifecycle" type="TLifecycle" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="copy_or_add_ref_noexcept" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="true" name="delete_or_release_noexcept" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="implementation_class_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="implementation_class_header" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TConstructorBase">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TDocumentation">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="argument" type="TArgument">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="return_copy_or_add_ref" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="noexcept" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TConstructor">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TConstructorBase">
        <xs:attribute default="false" name="explicit" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TMethodBase">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TConstructorBase">
        <xs:attribute default="" name="return" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute default="false" name="return_is_builtin" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute default="" name="overload_suffix" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute default="new {implementation_type}({expression})" name="impl_2_c" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TMethod">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TMethodBase">
        <xs:attribute default="false" name="const" type="xs:boolean" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TFunction">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="TMethodBase">
        <xs:attribute default="" name="implementation_name" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute default="" name="implementation_header" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TArgument">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TGenericDocumentation">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="is_builtin" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="static_cast&amp;lt;{implementation_type}*&amp;gt;({expression})" name="c_2_impl" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="default" name="c_2_impl_mode" type="TC2ImplMode" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="TLifecycle">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="copy_semantic">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="raw_pointer_semantic">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="reference_counted">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TLifecycleExtension">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice maxOccurs="unbounded" minOccurs="0">
        <xs:element maxOccurs="unbounded" minOccurs="0" name="cast_to" type="TCastTo">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" name="cast_from" type="TCastFrom">
          <xs:annotation>
            <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
    <xs:attribute default="" name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="wrap_name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="copy_semantic" name="lifecycle" type="TLifecycle" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TCastTo">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute default="true" name="implicit" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="target_type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="To{target_type}" name="cast_method" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TCastFrom">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="source_type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="TC2ImplMode">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="default">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="to_pointer">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="to_value">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="THeaderInclude">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute name="file" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="system" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TProperty">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="documentation" type="TDocumentation">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="Set" name="set_prefix" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="Get" name="get_prefix" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="true" name="get_const" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="set_argument_name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="false" name="is_builtin" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="static_cast&amp;lt;{implementation_type}&amp;gt;({expression})" name="set_c_2_impl" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="default" name="set_c_2_impl_mode" type="TC2ImplMode" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="new {implementation_type}({expression})" name="get_impl_2_c" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="set_argument_type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="return_type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TPropertySetPrefix">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute default="Set" name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TPropertyGetPrefix">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute default="Get" name="value" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TPropertyGetConst">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:attribute default="true" name="value" type="xs:boolean" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="TOverloadSuffixMode">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Off">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Notify">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Silent">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="TMappedType">
    <xs:annotation>
      <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="include_header" type="THeaderInclude">
        <xs:annotation>
          <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="wrap_type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="argument_wrap_type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="c_type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="implementation_type" type="xs:string" use="required">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="" name="snippet_type" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="static_cast&amp;lt;{c_type}&amp;gt;({expression})" name="wrap_2_c" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="static_cast&amp;lt;{implementation_type}&amp;gt;({expression})" name="c_2_impl" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="static_cast&amp;lt;{c_type}&amp;gt;({expression})" name="impl_2_c" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute default="static_cast&amp;lt;{wrap_type}&amp;gt;({expression})" name="c_2_wrap" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>&amp;quot;Work in progress&amp;quot;</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>